<div class="feed container d-flex">
  <div class=" col-9 d-flex flex-column">
    <% @posts.each do |post| %>
        <div class="card mt-3">
          <div class="d-flex card-user">
            <%= cl_image_tag post.user.avatar.key, crop: :fill, class: "avatar"%>
            <%= link_to post.user.username, profile_path(post.user.username), class: "username" %>
          </div>
          <%= cl_image_tag post.photo.key, crop: :fill %>
          <div class="card-body">
            <div class="post_btns">
              <span><i class="fa-regular fa-heart like like-<%= post.id %> <%= "active" if post.likes.where(user: current_user).exists? %>" data-id="<%= post.id %>"></i></span>
              <span class="like"><i class="fa-regular fa-comment"></i></span>
              <span class="like"><i class="fa-regular fa-bookmark"></i></span>
            </div>
            <p><strong id="likes-post-<%= post.id %>"><%= post.likes_count %> likes</strong></p>
            <p class="card-text"><strong><%= post.user.username %></strong> <%= post.description %></p>
            <p class="text-muted"><%= time_ago_in_words(post.created_at).gsub('about ','')  %> ago</p>
            <p> <%= "See all #{post.comments_count} comments" unless post.comments_count > 0 %> </p>

          <%= simple_form_for(@comment) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.hidden_field :post_id, :value => post.id %>
            <div class="input-group">
              <%= f.input :comment, label: false, class: "form-control post-comment" %>
              <div class="">
                  <%= f.button :submit, class:"btn btn-success float-right", value:"Post"%>
              </div>
            </div>
          <% end %>
          </div>


      </div>
    <% end %>
  </div>
  <div class="col-3 ">
    <div class="container follower_suggestions m-3">
      <h3>Suggestions for you</h3>
      <%= render "/users/follower_suggestions"  %>
    </div>
  </div>
</div>
<%# <div data-controller="hello">
  <p data-target="hello.output"></p>
</div> %>

<%console%>
