<div class="feed container d-flex">
  <div class=" col-6 d-flex flex-column">
    <% @posts.each do |post| %>
        <div class="card mt-3">
          <div class="d-flex card-user">
            <%= cl_image_tag post.user.avatar.key, crop: :fill, class: "avatar"%>
            <%= link_to post.user.username, profile_path(post.user.username), class: "username" %>
          </div>
          <%= cl_image_tag post.photo.key, crop: :fill %>
          <div class="card-body">
            <div class="post_btns">
              <span><i class="fa-regular fa-heart like like-<%= post.id %> <%= "active" if post.likes.where(user: current_user).exists? %>" data-id="<%= post.id %>"></i></span>
              <span class="like"><i class="fa-regular fa-comment"></i></span>
              <span class="like"><i class="fa-regular fa-bookmark"></i></span>
            </div>
            <p><strong id="likes-post-<%= post.id %>"><%= post.likes_count %> likes</strong></p>
            <p class="card-text"><strong><%= post.user.username %></strong> <%= post.description %></p>
            <p class="text-muted"><%= time_ago_in_words(post.created_at).gsub('about ','')  %> ago</p>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col-3 ">
    <div class="container follower_suggestions m-3">
      <h3>Suggestions for you</h3>
      <%= render "/users/follower_suggestions"  %>
    </div>
  </div>
</div>
<div data-controller="hello">
  <p data-target="hello.output"></p>
</div>

<%console%>
