<div class="container mt-4">

  <div class="row">
    <div class="col-4">
      <%= cl_image_tag @user.avatar.key, class: "avatar-large" %>
    </div>
    <div class="col-8 text-left">
      <div class="d-flex text-center">
        <h1><%= @user.username %></h1>
        <%= link_to "Edit profile", edit_user_registration_path, class:"btn btn-light" if can_edit?(@user.id) %>
      </div>
      <div class="row gx-3">
        <div class="col profile-data">
          <strong><%= @user.posts.count%></strong> posts
        </div>
        <div class="col profile-data">
          <strong><%= @user.num_of_followers%></strong> followers
        </div>
        <div class="col profile-data">
          <strong><%= @user.num_of_following%></strong> following
        </div>
      </div>
      <div class="mt-3">
        <p><strong><%= @user.first_name%> <%= @user.last_name%></strong></p>
        <p>This is the description of the User</p>
      </div>
    </div>
    <div class="mt-5 profile_posts">
      <% @user.posts.each_slice(3).each do |posts_sliced| %>
        <div class="row mt-4">
        <% posts_sliced.each do |post| %>
          <div class="col">
          <%= cl_image_tag post.photo.key, crop: :fill, :height => 350, :width => 350 %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
